* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.max-width--1200 {
  max-width: 1200px;
}

.margin--auto {
  margin: auto;
}

.padding--25 {
  padding: 25px;
}

.flex--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 500;
  color: black;
  background-color: white;
  padding: 0.5em;
  border-radius: 5px;
  margin-bottom: 10px;
}

.Search {
  flex-grow: 2;
  text-align: right;
  max-width: 500px;
  display: flex;
}

.Search input,
.Search button {
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1rem;
  height: 30px;
}

.Search input {
  width: 75%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Search button {
  width: 25%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #1aff1a;
}
